<h2>Our Story</h2>
<p>We're two siblings who wanted to honor a very important person: Uncle Mario. What made Mario so important to us? Well, when we were kids, he was the adult who always talked to us like we were real people, and he was always up for adventure.</p>
<br>
<p>But when it comes to coffee, Uncle Mario will always have a special place in our hearts. Unlike our instant-coffee-loving parents, Uncle Mario knew the value of a good brew. He lived a too-short life, but to keep his memory living on, we're committed to purveying the finest coffees from around the world (and as far as our parents go, we still love them dearly.)</p>

<p><%= link_to "Create new product", new_product_path %></p>


<p><%= link_to "See Newest Product Listings", products_path("three_most_recent") %></p>




<h2>Current Offerings</h2>



<% if @products.any? %>
  <ul>
    <% @products.each do |product| %>
      <li><%= link_to product.name, product_path(product) %></li>
    <% end %>
  </ul>
<% else %>
  <p>There are no products yet.</p>
<% end %>
