<h2>Most Reviewed Coffees</h2>

<% if @products.any? %>
  <ul>
    <% @products.each do |product| %>
      <li><%= link_to product.name, product_path(product) %></li>
    <% end %>
  </ul>
<% else %>
  <p>We don't have any coffees with reviews at the moment.</p>
<% end %>

<p><%= link_to "Go Back to Full Coffee List", products_path %></p>
